/* default browser settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid;
    background-color: #37474f;
}

/* main */
main {
   min-height: 100vh;
   max-width: 100vw;
   display: flex;
}

/* title */
h1 {
    font-family: 'cinzel', serif;
    font-size: 70px;
    text-align: center;
    color: #ab47bc;
    line-height: 130px;
}

/* background */
#hero {
    height: 100vh;
    width: 100vw;
    background: url("../images/pexels-pixabay-289367.jpg") no-repeat center center/cover;
    display: flex;
}

#main-menu {
    box-sizing: content-box;
    border: 2px solid;
    background-color: #ab47bc;
    width: 10%;
    height: 10%;
    margin-left: -70.5rem;
    margin-top: 12rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    color: black;
    padding: 2em;
}

#home {
    color: black;
    text-align: center;
    text-decoration: none;
}

#how-to-play {
    color: black;
    text-align: center;
    text-decoration: none;
}

#how-to-play:hover {
    color: #ffffff
}

#play-game {
    color: black;
    text-align: center;
    text-decoration: none;
}

#play-game:hover {
    color: #ffffff;
}

#high-scores {
    color: #000000;
    text-align: center;
    text-decoration: none;
    margin-left: 1rem;
    display: flex;
}

#high-scores:hover {
    color: #ffffff;
}

/* quiz page */
.container {
    box-sizing: content-box;
    border: 2px solid;
    background-color: #ab47bc;
    width: 50%;
    height: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    text-align: left;
    color: black;
    padding: 2em;
    margin-left: 50rem;
    margin-top: 12rem;
    display: flex;
}

h2 {
    font-size: 30px;
}

.container:hover {
    cursor: pointer;
}

.choice-prefix {
    color: #000000;
}

.choice-prefix:hover {
    color: #ffffff;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#progressBar {
    width: 20rem;
    height: 5rem;
    border: 1px solid;
}

#progressBarFull {
    height: 5rem;
    width: 0%;
    background-color: aqua;
}

/* high scores page */
#score-table {
    font-family: 'Emilys Candy', serif;
    color: red;
    font-size: 40px;
    margin-left: -70rem;
    margin-top: 3rem;
    text-decoration: underline;
}

#highScore {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    word-spacing: 5em;
    margin-top: 15rem;
    margin-left: -23rem;
    box-sizing: content-box;
    background-color: #ab47bc;
    border: 2px solid black;
    padding: 1em;
    height: 100%;
    text-decoration: none;
}

#username {
    font-size: 1rem;
    background-color: aqua;
    padding: .2em;
}

#saveScoreBtn {
    font-size: 1rem;
    background-color: aqua;
    font-weight: bold;
    padding: .5em;
}

#saveScoreBtn:hover {
    color: #ffffff;
}

#play {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: normal;
    text-decoration: none;
    color: #000000;
    text-align: justify;
}

#home {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

#play:hover {
    color: aqua;
}

#home:hover {
    color: aqua;
}

/* footer */
footer {
    width: 100%;
    padding: 1rem;
    background-color: #37474f;
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    line-height: 60px;
}  

